package main

import (
	"log"

	"{{.ModuleName}}/internal/config"
	"{{.ModuleName}}/internal/router"

	"github.com/gin-gonic/gin"

	{{- if .DBType }}
	"{{.ModuleName}}/internal/db"
	{{- end }}
)

func main() {
	cfg := config.New()

	// Initialize database only if selected
	{{- if .DBType }}
	database, err := db.Connect()
	if err != nil {
		log.Fatalf("DB init error: %v", err)
	}
	defer database.Close()
	{{- end }}

	r := gin.Default()
	router.RegisterRoutes(r)

	port := cfg.Port
	if port == "" {
		port = "{{.PortName}}"
	}

	log.Printf("🚀 Starting server on :%s", port)
	if err := r.Run(":" + port); err != nil {
		log.Fatal(err)
	}
}
