package service

import (
	"{{.ModuleName}}/internal/model"
	"{{.ModuleName}}/internal/repository"
)

type {{.Entity}}Service struct {
	Repo *repository.{{.Entity}}Repo
}

func New{{.Entity}}Service(repo *repository.{{.Entity}}Repo) *{{.Entity}}Service {
	return &{{.Entity}}Service{Repo: repo}
}

func (s *{{.Entity}}Service) Get{{.Entity}}s() ([]model.{{.Entity}}, error) {
	return s.Repo.FindAll()
}