project:
  name: "{{ .ModuleName }}"
  port: {{ .Port }}
  router: "{{ .Router }}"
  database: "{{ .DBType }}"

entities:
{{- if .Entities }}
{{- range .Entities }}
  - {{ . }}
{{- end }}
{{- else }}
  - user
{{- end }}
